{
  "development": {
    "REACT_APP_DISCOVER": "",
    "REACT_APP_WEB_API": "",
    "REACT_APP_PRINT_PROXY": ""
  },
  "staging": {
    "REACT_APP_DISCOVER": "",
    "REACT_APP_WEB_API": "",
    "REACT_APP_PRINT_PROXY": "",
    "REACT_APP_BASENAME": "/atlas",
    "SSH_HOST": "",
    "SSH_USERNAME": "",
    "SSH_PASSWORD": ""
  },
  "production": {
    "REACT_APP_DISCOVER": "career-exhibit-panel-stadium",
    "REACT_APP_WEB_API": "AGRC-A94B063C533889",
    "REACT_APP_PRINT_PROXY": "https://print.agrc.utah.gov/7/arcgis/rest/services/GPServer/export",
    "SSH_HOST": "",
    "SSH_USERNAME": "",
    "SSH_PASSWORD": ""
  }
}
