# dependencies
/node_modules

# testing
/coverage

# production
/build
/deploy
/dist

# secrets
.env.local
*.odc
*.pyc
*.sde

# misc
.eslintcache
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# deploy
/.firebase
/public/assets
