*.odc
*.pyc
*.sde
*.sublime-workspace
.DS_Store
.grunt/
dist/
node_modules/
src/agrc/
src/bootstrap/
src/dijit/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jquery/
src/spinjs/
src/stubmodule/
src/util/