*.odc
*.pyc
*.sde
*.sublime-workspace
.DS_Store
.grunt/
deploy
dist/
node_modules/
secrets.json
src/agrc/
src/bootstrap/
src/dgrid/
src/dijit/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jquery/
src/ladda-bootstrap/
src/mustache/
src/put-selector/
src/spin.js/
src/spinjs/
src/stubmodule/
src/util/
src/xstyle/