language: node_js
node_js:
    - "lts/*"
before_install:
    - npm install -g grunt-cli
    - npm install -g bower
    - bower install
notifications:
    email:
        on_success: change
        on_failure: change
sudo: false
cache:
    directories:
        - node_modules
