@import '../../agrc/themes/standard/map/BaseMap.css';
@import '../../ijit/themes/standard/layout/SideBarToggler.css';
@import '../../ijit/themes/standard/layout/PaneStack.css';

body, html, .app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #444;
}
.app .main-container {
    width: 100%;
    height: 100%;
}

/* TITLE PANE */
.app .title-pane {
    border: none;
}
.app h1 {
    margin: 5px 0 0 0;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: normal;
}
.app .version {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0;
}
.app .version:hover {
    text-decoration: underline !important;
}

/* SIDE BAR */
.app .side-bar {
    width: 300px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.app .side-bar-sizer {
    width: 302px;
    margin: -1px;
}
.app .padder {
    padding: 8px;
}
.app .side-bar h3 {
    margin-bottom: 3px;
}
.app .first-header {
    margin-top: 0px;
}

/* CENTER (MAP) */
.app .center-container {
    padding: 0;
}
.app .map-div {
    width: 100%;
    height: 100% !important;
}

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus {
    outline: none;
}
