<div>
    <div data-dojo-attach-point='mainContainer' class='main-container' data-dojo-type='dijit.layout.BorderContainer'>
        <div class='title-pane' data-dojo-type='dijit/layout/ContentPane' data-dojo-props="region:'top'">
            <h1>
                <span class='title'>Utah Environmental Interactive Map</span>
                <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
            </h1>
            <img src="app/resources/deq_logo.png" alt="deq logo">
        </div>
        <div data-dojo-attach-point='sideBar' 
            data-dojo-type='dijit/layout/ContentPane' 
            data-dojo-props="region:'right'"
            class='side-bar'>
            <div class='side-bar-sizer'>
                <div data-dojo-attach-point="wizardDiv"></div>
                <div data-dojo-attach-point="searchDiv"></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/BorderContainer'
            data-dojo-props="region:'center', gutters: false"
            class='center-container'>
            <div data-dojo-type="dijit/layout/ContentPane" 
                data-dojo-props="region: 'center'">
                <div data-dojo-attach-point='mapDiv' class='map-div'>
                    <div class='map-button-container'>
                        <div data-dojo-attach-point="layersBtnDiv"></div>
                        <div data-dojo-attach-point="measureBtnDiv"></div>
                        <div data-dojo-attach-point="printBtnDiv"></div>
                    </div>
                </div>
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" 
                data-dojo-props="region: 'bottom'">
                grid
            </div>
        </div>
    </div>
</div>