<div>
    <h4>UTM 12 NAD83</h4>
    X: <span data-dojo-attach-point="utmX"></span>
    <br>
    Y: <span data-dojo-attach-point="utmY"></span>
    <h4>WGS84</h4>
    Lat: <span data-dojo-attach-point="lat"></span>
    <br>
    Lng: <span data-dojo-attach-point="lng"></span>
    <h4>County</h4>
    <span data-dojo-attach-point="county"></span>
    <h4>City</h4>
    <span data-dojo-attach-point="municipality"></span>
    <h4>Land Owner</h4>
    <span data-dojo-attach-point="landOwner"></span>
</div>