<div>
    <h4>UTM 12 NAD83</h4>
    X: <span data-dojo-attach-point="utmX"></span>
    <br>
    Y: <span data-dojo-attach-point="utmY"></span>
    <h4>WGS84</h4>
    Lat: <span data-dojo-attach-point="lat"></span>
    <br>
    Lng: <span data-dojo-attach-point="lng"></span>
    <h4>US National Grid</h4>
    <span data-dojo-attach-point="nationalGrid"></span>
    <h4>County</h4>
    <span data-dojo-attach-point="county"></span>
    <h4>City</h4>
    <span data-dojo-attach-point="municipality"></span>
    <h4>Land Administration Category</h4>
    <span data-dojo-attach-point="landOwner"></span>
    <h4>Elevation</h4>
    <span data-dojo-attach-point="elevMeters"></span> (meters)
    <br>
    <span data-dojo-attach-point="elevFeet"></span> (feet)
</div>