<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#queryLayersPanel" data-toggle="collapse">
                <h4 class="panel-title">
                    Query Layers
                </h4>
            </a>
        </div>
        <div id="queryLayersPanel" class="panel-collapse collapse in">
            <div class="panel-body">
                <div data-dojo-attach-point="queryLayersContainer"
                    class='panel-group'></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#locationPanel" data-toggle="collapse">
                <h4 class="panel-title">
                    Search Location
                </h4>
            </a>
        </div>
        <div id="locationPanel" class="panel-collapse collapse">
            <div class="panel-body">
                Search tools
            </div>
        </div>
    </div>
</div>