<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#queryLayersPanel" data-toggle="collapse">
                    Query Layers
                </a>
            </h4>
        </div>
        <div id="queryLayersPanel" class="panel-collapse collapse in">
            <div class="panel-body">
                [Opacity Slider]
                <div data-dojo-attach-point="queryLayersContainer"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#locationPanel" data-toggle="collapse">
                    Search Location
                </a>
            </h4>
        </div>
        <div id="locationPanel" class="panel-collapse collapse">
            <div class="panel-body">
                Search tools
            </div>
        </div>
    </div>
</div>