.map-lens {
  position: absolute;
  top: 75px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  overflow: hidden;
  background-color: white;
  z-index: 3;
}

.map-lens__sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin: -5px;
}

.map-lens--side-bar-open {
  left: 310px;
}

.map-lens--with-border {
  border: 1px solid #b5bcc7;
}
