.app__header {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  padding: 8px;
}

.header__heading {
  font-family: Arial, sans-serif;
  margin: 5px 0 0 5px;
  font-size: 40px;
  letter-spacing: -2px;
}

.heading__img {
  position: absolute;
  top: -3px;
  right: 0;
}

@media screen and (max-width: 624px) {
  .heading__img {
    display: none;
  }
}

.heading__version {
  font-size: 10px;
  text-decoration: none;
  vertical-align: sub;
  margin-left: -10px;
  letter-spacing: 0;
}
